.choose-div {
    display: flex;
    flex-direction: column;   /* العناصر تحت بعض */
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 85px;
    padding-bottom: 80px;
    overflow-x: hidden;
}

.choose-div .choose-item {
    display: flex;                /* نخليها flex */
    flex-direction: row-reverse;  /* عشان الصورة تبقى على اليمين */
    align-items: center;          /* توسيط رأسي */
    justify-content: flex-start;
    width: 100%;
    max-width: 1000px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    gap: 15px; /* مسافة بين الصورة والنص */
    cursor: pointer;

    position: relative;
    right: -100%;
    transition: all 0.3s;
}

.choose-div .choose-item:hover {
    background-color: var(--hover);
    max-width: 1100px;
}

.choose-div .choose-item:active {
    background-color: var(--active);
}

.choose-div .choose-item img {
    width: 80px;
    height: auto;
    object-fit: cover;  /* لو الصورة أكبر، يظبطها جوا الإطار */
    border-radius: 10px;
    /* background-color: red; */
}

.choose-div .choose-item h1 {
    font-size: 1.2rem;
    color: #000000;
    margin: 0;
    flex: 1; /* يخلي النص ياخد باقي المساحة */
    text-align: right;
}

/* إظهار عند النزول */
.choose-div .choose-item.show {
    right: 0;
}

/* تخصيصات */
.podcasts-div .podcast-item img {
    width: 80px;
}

.people-div .people-item, .people-div .people-item img {
    border-radius: 500px;
}

.courses-div .choose-item img {
    height: 80px;
    width: auto;
    min-width: 80px;
    /* width: 142.21px; */
}

@media (max-width: 1000px) {
    .choose-div .choose-item {
        border-radius: 0;
    }
}

@media (max-width: 700px) {
    .choose-div .choose-item h1 {
        font-size: 17px!important;
    }
}

@media (max-width: 500px) {
    .choose-div .choose-item h1 {
        font-size: 17px!important;
    }
}