body, .circle-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.circle-container {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.cancel-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    cursor: pointer;
}

.circle-background {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}

.progress-ring {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.progress-ring circle {
    fill: transparent;
    stroke: #ffffff;
    stroke-width: 10;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.2s linear;

    /* نضيف هنا الأنيميشن */
    transform-origin: 50% 50%;
    animation: rotate 2s linear infinite;
}

.rotating {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#percent-label {
    /* color: #000; */
    font-size: 18px;
    font-weight: bold;
}