.audio-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
    /* padding-bottom: 20px; */
    width: 100%;
    color: #000;
}
  
/* شريط التقدم + الوقت */
.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 900px;
    gap: 10px;
}

.current-time, .duration {
    font-size: 0.9rem;
    color: #000;
    min-width: 45px;
    text-align: center;
}

.progress-bar {
    flex: 1;
    appearance: none;
    height: 6px;
    border-radius: 3px;
    background: linear-gradient(to right, #1DB954 0%, #1DB954 0%, #999 0%, #999 100%);
    outline: none;
    cursor: pointer;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 14px;
    border-radius: 500px;
    background: #f9fffb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    border: none;
}

.progress-bar::-moz-range-thumb {
    width: 24px;
    height: 14px;
    border-radius: 500px;
    background: #f9fffb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    border: none;
}

/* العنوان */
.audio-title {
    text-align: right;
    max-width: 70%;
    font-size: 26px;
    direction: rtl;
}

/* زر التشغيل */
.play-button {
    width: 100px;
    height: 100px;
    background: #1DB954;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-button svg {
    width: 45px;
    height: 45px;
    fill: white;
}

.cover-image {
    width: 100%;
    display: flex;
    justify-content: center; /* المحاذاة أفقياً */
    margin-top: 50px;       /* مسافة من أعلى الصفحة */
}
  
.cover-image img {
    width: 80%;
    max-width: 480px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

@media (max-width: 700px) {
    .audio-title {
        max-width: 90%;
        font-size: 17px;
    }
}
