.audios-div, .podcasts-div {
    display: flex;
    flex-direction: column;   /* العناصر تحت بعض */
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    padding: 10px 0;
}

.audios-div .audio-item, .podcasts-div .podcast-item {
    display: flex;                /* نخليها flex */
    flex-direction: row-reverse;  /* عشان الصورة تبقى على اليمين */
    align-items: center;          /* توسيط رأسي */
    justify-content: flex-start;
    width: calc(100% - (10px * 2));
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px;
    box-sizing: border-box;
    gap: 15px; /* مسافة بين الصورة والنص */
    cursor: pointer;
}

.audios-div .audio-item img, .podcasts-div .podcast-item img {
    width: 120px;       /* عرض ثابت مناسب للثامبنيل */
    height: auto;       /* يخلي الطول يتظبط تلقائي ويحافظ على النسبة */
    object-fit: cover;  /* لو الصورة أكبر، يظبطها جوا الإطار */
    border-radius: 10px;
}

.podcasts-div .podcast-item img {
    width: 80px;
}

.audios-div .audio-item h1, .podcasts-div .podcast-item h1 {
    font-size: 1.2rem;
    color: #000000;
    margin: 0;
    flex: 1; /* يخلي النص ياخد باقي المساحة */
    text-align: right;
}

@media (max-width: 700px) {
    .audio-item h1, .podcast-item h1 {
        font-size: 17px!important;
    }
}